@using WebApplication2.Models;
@{
    var currSession = (Account)Session["LoggedIn"];

    var firstname = "";
    var lastname = "";
    var address = "";
    var emailaddress = "";
    var type = "";

    if (currSession == null || currSession.type == "User")
    {
        Response.Redirect("/account/noadmin");
       
    }
    else
    {
        ViewBag.Title = currSession.username;

        firstname = currSession.name;
        lastname = currSession.surname;
        address = currSession.address;
        emailaddress = currSession.email;
        type = currSession.type;
    }
}


<h2>Admin Profile Page</h2>
<h4> Name: @firstname  @lastname </h4>
<h4> Address: @address </h4>
<h4> E-mail: @emailaddress </h4>
<h4> Type: @type </h4>



