@using System.Data.SqlClient;
@using System.Diagnostics;
@using WebApplication2.Models;
@using WebApplication2.Database;
@using WebApplication2.Controllers;
@{

    ViewBag.Title = "Login";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var username = "";
    var password = "";

    if (IsPost)
    {
        username = Request.Form["username"];
        password = Request.Form["password"];

        DatabaseController.connect();

        try
        {
            var myRs = DatabaseController.runScalarQuery("SELECT COUNT(*) FROM Users u WHERE u.Username= '" + username + "' AND u.Password= '" + password + "'");
            
           
            if (myRs > 0)
            {
                Debug.Write("Succesfully logged in.");
                Session["LoggedIn"] = AccountFactory.genAcc(username);
                if (Session["LoggedIn"] != null)
                {
                    var accounttype = (Account)Session["LoggedIn"];
                    if (accounttype.type == "admin")
                    {
                        Response.Redirect("/account/adminpage");
                    }
                    else
                    {
                        Response.Redirect("/home/index");
                    }
                }
            }
            else
            {
                <text>Please enter a valid combination of your username and password. If you do not have an account, please register.</text>

            }
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.Message);
        }
    }
}

<h2>login</h2>
<form method="POST">
    Username:<br>
    <input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br>
    Password:<br>
    <input type="password" name="password" value="@Request.Form["password"]" placeholder="Ex.: ******"><br><br>

    <input type="submit" value="Submit">
</form>