@model WebApplication2.Models.Account
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var username = "";
    var password = "";

    if (IsPost)
    {
        username = Request.Form["username"];
        password = Request.Form["password"];
    }
}



<h2>login</h2>
<form method="POST">
    Username:<br>
<input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br>
    Password:<br>
<input type="text" name="password" value="@Request.Form["password"]" placeholder="Ex.: Jedikkepapa"><br><br>
    
    <input type="submit" value="Submit">
</form>



