@using System.Data.SqlClient;
@using System.Diagnostics;
@using WebApplication2.Database;
@{
    ViewBag.Title = "Login";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var username = "";
    var password = "";

    if (IsPost)
    {
        username = Request.Form["username"];
        password = Request.Form["password"];

        var conn = new SqlConnection("Data Source=145.24.222.224,8080;Initial Catalog=Project56;User ID=abc;Password=abc123");
        conn.Open();

        try
        {
            var stmt = new SqlCommand("SELECT COUNT(*) FROM Users u WHERE u.Username= '" + username + "' AND u.Password= '" + password + "'", conn);


            int myReader = (int)stmt.ExecuteScalar();
            if (myReader > 0)
            {
                Debug.Write("Succesfully logged in.");
                Session["LoggedIn"] = AccountFactory.genAcc(username);
                if(Session["LoggedIn"] != null)
                {
                    Debug.Write((string)Session["LoggedIn"]);
                    Response.Redirect("/account/profile");
                    
                }
            }
            else
            {
                Debug.Write("Login failed.");

            }
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.Message);
        }
    }
}



<h2>login</h2>
<form method="POST">
    Username:<br>
<input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br>
    Password:<br>
<input type="password" name="password" value="@Request.Form["password"]" placeholder="Ex.: **********"><br><br>
    
    <input type="submit" value="Submit">
</form>



