
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (IsPost)
    {
        @Model.username = Request.Form["username"];
        @Model.password = Request.Form["password"];
    }
}



<h2>login</h2>
<form method="POST">
    Username:<br>
<input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br>
    First name:<br>
<input type="text" name="password" value="@Request.Form["password"]" placeholder="Ex.: Jedikkepapa"><br>
    Last name:<br>
    <input type="submit" value="Submit">
</form>



