@{
    ViewBag.Title = "Contact pagina";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wijnhaven 107<br />
    Rotterdam, 3011WN<br />
    <abbr title="Organisatie">Org:</abbr>
    Hogeschool Rotterdam
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:0906393@hr.nl">0906393@hr.nl</a><br />
    <strong>Suggestions:</strong> <a href="mailto:088248@hr.nl">088248@hr.nl</a>
</address>